.pl-em,
.px-em {
  padding-left: 5.8rem !important;
}
.pl-tgl,
.px-tgl {
  padding-left: 2.5rem !important;
}
.pl-al,
.px-al {
  padding-left: 5rem !important;
}
.pl-le,
.px-le {
  padding-left: 6.1rem !important;
}